
#content{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15vh;
	width: 20%;
	background-color: darkred;
	font-size: 20px;
	color: darkred;
	border-radius: 10px;

}

#image{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75;
	width: 75;
	border-spacing: ;
}





}

#kl{

	color: blue;
	display: flex;
	align-items: center;
	justify-content: center;



}
